@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'VT323', monospace;
  background: #01172F;
  color: white;
  letter-spacing: 0.5px;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #791586;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0;
  gap: 1.5rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

.intro {
  min-height: 100vh;
  padding-top: 6rem;
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  padding: 6rem 2rem;
  max-width: 900px;
  margin: auto;
}

.section h2{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: 0.08em;


}

.Scroll{
  display: flex;
  gap:  4rem;
  overflow-x: auto;
  padding: 2rem 1rem;
  scroll-behavior: smooth;
}

.Scroll::webkit-scroller{
  height: 6px;
}

.Photos{
  min-width: 360px;
  border: 2px solid #b1d34A;
  padding: 1.5rem;
  transition: transform 0.2s ease;
}

.Photos:hover{
  transform: scale(1.02);
}
.Photos img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.card {
  background: #161b2e;
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 1rem;
}

.cta-button {
  font-family: 'VT323', monospace;
  background: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  color: black;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 2rem;
  background: #080b14;
}

.introLogo {
  display: block;
  margin: 1.5rem auto 0 auto;
  width: 180px;
  height: auto;
}